<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Bitter|Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">    
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
        <ul class="w3-navbar" id="myNavbar">
          <li><img src="../assets/images/CZC.png" alt="logo" class="logo w3-padding-large"></li>
          <li class="w3-hide-small w3-right">
              <a href="#about" class="w3-padding-large">ESPA;OL</a>
            </li>
          <li class="w3-hide-small w3-right">
            <a href="#contact" class="w3-padding-large">CONTACT</a>
          </li>
          <li class="w3-hide-small w3-right">
            <a href="#portfolio" class="w3-padding-large">PORTFOLIO</a>
          </li>
          <li class="w3-hide-small w3-right">
            <a href="#about" class="w3-padding-large">ABOUT ME</a>
          </li>
        </ul>
      </div>
      
      <!-- First Parallax Image with Logo Text -->
      <div class="bgimg-1 w3-opacity w3-display-container">
        <div class="w3-display-middle" style="white-space:nowrap;">
          <h1 class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity"><span>CLAUDIA</span><br><span class="w3-hide-small">ZÁRATE CÓRDOVA</span><br><span class="ux">UX Designer</span></h1>
        </div>
      </div>
      
      <!-- Container (About Section) -->
      <div class="w3-content w3-container w3-padding-64" id="about">
        <h2 class="w3-center fucsia">¡HELLO!</h2><br>
        <div class="w3-col m6 w3-center w3-section">
          <img src="../assets/images/clau.jpg" id="profile" class="w3-circle" alt="Photo of Me">
        </div>
        <p><b>Soy Claudia, UX Designer y egresada de la carrera de Ciencias y Tecnologías de la Comunicación.</b><br><br>
          Elegí UX Design porque mi curiosidad por las nuevas tecnologias me llevo a descubrir las necesidades y tendencias de las personas en el mundo digital y como a traves de la creatividad, el trabajo colaborativo y la pasion por el dise;o, pueda ofrecer soluciones y experiencias inolvidables para las personas y empresas. <br><br>
          Me interesa enormemente usar la tecnologia como agente de cambio, en temas como educacion y cultura, conservacion ambiental y el netkaizen,  es por ello que en un futuro no muy lejano aspiro a fundar una startup comprometida con ello. <br>
          <br>
          Otra de mis pasiones es la musica, y en mi tiempo libre, me gusta ir a conciertos, hacer actividades al aire libre, viajar y ver series.
        </p>

        <a class="fucsia center" href="../assets/docs/Curriculum-vitae_CZ.pdf" download="CV ClaudiaZaCor.">Download CV</a>
        <!--  Profile Picture and Description  -->
        <div class="w3-row">
          
      
          <!-- Hide this text on small devices -->
          <div class="w3-col m6 w3-hide-small w3-section">
            <p></p>
          </div>
        </div>
      </div>
      
      <!-- Second Parallax Image with Portfolio Text -->
      <div class="bgimg-2 w3-display-container" id="portfolio">
        <div class="w3-display-middle">
          <span class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity">PORTFOLIO</span>
        </div>
      </div>
      
      <!-- Container (Portfolio Section) -->
      <div class="w3-content w3-container w3-padding-64">
        <h2 class="w3-center fucsia">Designing is finding creative solutions</h2><br>
      
        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="w3-row-padding w3-center">
          <div class="box w3-col m6">
            <img src="../assets/images/Untitled.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity">
          </div>
          <p class="text">Wanderbus es una plataforma de venta de pasajes de bus que facilita el proceso de compra para todo viajero. Además, si te encuentras indeciso te ayuda a elegir tu destino ideal.</p>
          <a class="but" href="https://marvelapp.com/3jg3bfg/screen/38646658" target="_blank"><button>See Demo</button></a>
          <a class="but" href="https://github.com/ClaudiaZaCor/Wanderbus" target="_blank"><button>See Github</button></a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div class="w3-col m6">
            <img class="imgmov" src="../assets/images/golds-gym.png" onclick="onClick(this)" class="w3-hover-opacity">
          </div>
          <p class="text">Es la aplicación móvil para el gimnasio Gold´s Gym, la cual ofrece una rutina personalizada según los objetivos de cada persona. Proyecto desarrollado para Laboratoria para el final del Bootcamp.</p>
          <a class="but" href="https://marvelapp.com/42df5ab/screen/40132806" target="_blank"><button>See Demo</button></a>
          <a class="but" href="https://github.com/ClaudiaZaCor/Gold-s-Gym-LATAM.app" target="_blank"><button>See Github</button></a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div class="w3-col m6">
            <img class="imgmov" src="../assets/images/kimoni.png" style="width:80%, heigth:40%" onclick="onClick(this)" class="w3-hover-opacity">
          </div>
          <p class="text">"Kimoni", nombre que deriva del inglés "Keep your money"(guarda tu dinero) es una app móvil creada para los millenials con el fin de manjear sus cuentas de una forma facil y segura, cuenta con 3 principales beneficios: Utilizar el número de celular como número de cuenta, manejar diferentes cuentas de banco en solo una, incentivar las transacciones bancarias acumulando Kimoni Points.</p>
          <a class="but" href="https://marvelapp.com/82j8h21/screen/39513413" target="_blank"><button>See Demo</button></a>
          <a class="but" href="https://github.com/ClaudiaZaCor/KIMONI" target="_blank"><button>See Github</button></a>
        </div>
      </div>
      
      <!-- Modal for full size images on click-->
      <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-closebtn w3-hover-red w3-text-white w3-xxxlarge w3-container w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
          <img id="img01" style="max-width:100%">
        </div>
      </div>
      
      <!-- Third Parallax Image with Portfolio Text -->
      <div class="bgimg-3 w3-display-container" id="contact">
        <div class="w3-display-middle">
          <h2 class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity">CONTACT</h2>
        </div>
      </div>
      
      <!-- Container (Contact Section) -->
      <div class="w3-content w3-container w3-padding-64">
        <h3 class="w3-center"></h3>
        <p class="w3-center"><em></em></p>
      
        <address class="w3-row w3-padding-32 w3-section">
          <!--<div class="w3-col m4 w3-container">
            <!-- Add Google Maps -->
            <!--<div id="googleMap" class="w3-round-large"></div>
          </div> -->
          <div class="w3-col m8 w3-container w3-section">
            <div class="w3-large w3-margin-bottom">
              <p>Si estás interesado en mi perfil laboral, hablar acerca de un proyecto o simplemente <br>
                  decir hola, puedes dejarme un mensaje:</p>
              <i class="fa fa-map-marker w3-hover-text-black" style="width:30px"></i>Lima City,Peru<br>
              <i class="fa fa-phone w3-hover-text-black" style="width:30px"></i> Phone: +51936561575<br>
              <i class="fa fa-envelope w3-hover-text-black" style="width:30px"> </i> Email: claudia.zacor@gmail.com<br>
            </div>
          
            <!--<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
              <div class="w3-half">
                <input class="w3-input w3-border w3-hover-light-grey" type="text" placeholder="Nombre">
              </div>
              <div class="w3-half">
                <input class="w3-input w3-border w3-hover-light-grey" type="text" placeholder="Email">
              </div>
            </div>
            <input class="w3-input w3-border w3-hover-light-grey" type="text" placeholder="Mensaje">
            <a href="Escribir a:claudia.zacor@gmail.com" class="w3-btn w3-section w3-right">ENVIAR</a>
          </div>-->
        </address>
      </div>
      
      <!-- Footer -->
      <footer class="w3-center w3-dark-grey w3-padding-48 w3-hover-black cf">
        <div class="w3-half">
          <a target="_blank" href="https://www.linkedin.com/in/claudiazaratecordova/">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
          <a target="_blank" href="https://github.com/ClaudiaZaCor">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </div>
        <p class="w3-half">Made with<span class="heart-icon">❤</span> and  <span class="music-icon">♪</span> by Claudia Zarate Cordova</a></p>
      </footer>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>